
body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color:#f1f2f6;

    
}

header * {
    display: flex;
    
}

header{
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 5px #ccc;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
}


header > div{
    align-items: center;

}   

header > section{
    align-items: center;
}

nav{
    align-items: center;
    justify-content: center;
    height: inherit;
   
    
}

header input{
    height: 1.75rem;
    max-width: 195px;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    border-style: hidden;
    background-color:#f1f2f6;
}

header > div > section{
    min-width: 85px;
}


header > nav > ul> li{
    min-width: 110px;
    
}
header > nav > ul> li:hover{
    color: blue;
    cursor:pointer;
}
header > section > ul > li{
    min-width: 70px;
}

header>section>ul>li:hover{
    color: blue;
    cursor:pointer;
}
.extra_padding{
    padding: 20px;
    background-color: white;
    border-radius: 1.625rem;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #ccc;
}
#content_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f2f6;
    margin-top: 20px;
   
}

#content_main ul{
    list-style: none;
}

#leftside{
    max-width: 25%;

}
#leftside li{
    margin-bottom: 20px;
    font-weight: 750;
}

#leftside img{
    position: relative;
    top: 10px;
    bottom: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#leftside li:hover{
    background-color: #ebebeb;
    color: blue;
    cursor: pointer;
}

main{
    padding: 32px;
    padding: 32px;
    max-width: 55%;
    
   
}

main *{
    display: flex;
}


#stories{
    background: white;
    display: flex;
    flex-direction: column;
}

#icons_stories{
    font-weight: 750;
    display: flex;
    justify-content: center;
    height: 40px;
}

main span:hover{
    color:blue;
    cursor: pointer;
    background-color: #ebebeb;
}


#center_story{
    margin-left: 75px;
    margin-right: 75px;
}


.stories_made{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white

}
#rightside{
    max-width: 20%;
}
 
.square{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    width: 115px;
    height: 200px;
    border: 2px black;
    border-style: solid;
    background-color:#f1f2f6;
}
#container_user{
    display: flex;
    flex-direction: column;
;
}
#user_mind{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    
}

#mind input{
    height: 1.9rem;
    width: 395px;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    border-style: hidden;
    background-color:#f1f2f6;
    margin-left: 3px;
    font-size: 15px;
    
}

#user_mind img{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#below{
    display: flex;
    font-weight: 100;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

#profile_details{
    margin-bottom: 5px;
}
#post_details{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-weight: 700;

}


#profile_details img{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 5px;
    bottom: 5px;
}

#date{
    font-weight: 100;
    font-size: 14px;
}

#menu{
    margin-left: 200px;
}
#content{
    margin-bottom: 20px;
}
#emotes{
    font-weight: 100;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}
/*.border{
    border: 2px solid black;
}
